body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.form-group {
  margin-bottom: 0;
}

#Time {
  font-size: 16px;
  font-weight: bold;
}
.containerCal {
  margin-top: 5%;
  display: block;

}

.col {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
.container {
  display: block;
  align-items: center;
  border: solid;
}


.btn-outline-dark {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}
